nav{
    background-color: transparent;
    box-shadow: 0 0 10px rgba(255,255,255, .4);
}
.navbar-logo{
    width: 150px;
}

.navbar-nav a{
    margin-block: 7px;
    margin-inline: 10px;
    color: #fff;
}

.navbar-esconde {
    top: -70px; 
    transition: top 0.5s ease-in-out;
}

.navbar-mostra {
    top: 0;
    transition: top 0.5s ease-in-out;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8); 
}
.nav-link{
    cursor: pointer;
}

.nav-link:hover{
    color: #a1a1a1;
}