.text-skill {
    margin-top: 100px;
}

.text-skill p {
    font-weight: normal;
}

.skills {
    display: flex;
    justify-content: space-evenly;
}

.box-skill {
    height: 200px;
    border: 1px solid #79a6d2;
    border-radius: 15px;
    position: relative;
    transition: all 0.3s ease-in-out;
    margin-block: 20px;
}

.box-skill:hover {
    margin-left: 10px;
}

.cor-hover {
    width: 0;
    background-color: #77d271;
    opacity: 0;
    transition: all .3s ease-in-out;
    border-radius: 15px 0 0 15px;
}

.box-icon:hover .cor-hover {
    width: 10px;
    opacity: 1;
}

.box-icon img {
    margin: 20px;
    width: 70px;
    border: 1px solid #79a6d2;
    padding: 7px;
    border-radius: 15px;
    background: #fff;
    animation: animate-img 1.3s linear infinite;
}

@keyframes animate-img {
    0% {
        transform: translatey(0);
    }

    50% {
        transform: translatex(-4px);
    }

    100% {
        transform: translatey(0);
    }
}

.box-icon h2 {
    margin-left: 20px;
}

.img-skill img {
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    animation: animate-img-skill 1.3s linear infinite;
}

@keyframes animate-img-skill{
    0% {
        transform: translatey(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translatey(0);
    }
}

@media screen and (max-width: 992px) {
    .img-skill {
        text-align: center;
    }

    .img-skill img {
        height: 300px;
        margin: 0;
    }

    .text-skill {
        text-align: center;
    }
}