.banner{
    padding-top: 160px;
}
.custom-image-size {
    width: 500px;
}
.text-banner h1 {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: .1em solid; 
    animation: digitando 2.5s steps(15) 1s 1 normal both, 
               blinking .5s infinite step-end alternate;
}

@keyframes digitando {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking {
    from {
        border-color: transparent;
    }
    to {
        border-color: black;
    }
}
.btn-social{
    margin-top: 25px;
}

.btn-linkedin{
    background: #e9e9e9;
    margin-right: 50px;
}

.btn-github{
    background: #232528;
    color: #fff;
}

.btn-linkedin,
.btn-github{
    transition: all .3s ease-in-out;
    width: 110px;
    font-size: 18px;
}

.btn-linkedin:hover,
.btn-github:hover{
    scale: 1.08;
    margin-left: -5px;
    margin-top: -15px;
    letter-spacing: 1.7px;
}

.btn-linkedin:hover{
    background-color: #232528;
    color: #fff;
}

.btn-github:hover{
    background-color: #e9e9e9;
    color: #000;
}